<div class="main_box">
    <div class="container client_speaks" style="background: #fff;">
        <div class="container_heading">
            <h3>CLIENT SPEAKS</h3>
        </div>
        <div class="client_speaks_box">
            <div class="client_speaks_q">Before you started working with us, what were your concerns in hiring an IT product development agency?</div>
            <div class="client_speaks_a">I was unsure how well the outsourced and offshore development team would really understand what we were trying to build. I also had concerns around our ability to manage a team so far away.</div>
        </div>

        <div class="client_speaks_box">
            <div class="client_speaks_q">What has been the biggest benefit or the results that you have achieved since working with us?</div>
            <div class="client_speaks_a">I found Maisa to be extremely responsive and totally committed to communicating with us. Maisa really focused on making the relationship work.</div>
        </div>

        <div class="client_speaks_box">
            <div class="client_speaks_q">Would you recommend our IT Services, and if so, why?</div>
            <div class="client_speaks_a">I would because of Maisa's commitment to understanding client needs and willingness to align closely with the customer.</div>
        </div>
    </div>

</div>