
<section style="background:#2B2B2B;">
    <div id="contact_address">
        <div class="container">
            <div class="row">

                <div class="col-sm-3 text-muted">
                    <div class="justifiedTxt footer_text">
                        <p class="contact_address"> <b>CONTACT</b></p>
                        <i class="fa fa-envelope"></i>&nbsp;
                        <a href="mailto:contact@maisasolutions.com" class="text-muted"> contact@maisasolutions.com</a>
                        <br>
                        <i class="fa fa-skype"></i> &nbsp;<a class="text-muted" href="skype:cbenjaram">cbenjaram</a><br/>
                        <a class="text-muted" href="tel:+17077098961">+17077098961</a>(USA)<br/>



                        <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
                        <a id="Setmore_button_iframe" style="float:none" href=https://my.setmore.com/bookingpage/826fb1ac-d53a-4823-a40b-440c53f60e42>
                            <div class="v-align-c setup_meeting_box"> <div class="setup_meeting"></div><div class="meeting_text valign-c">Set up a meeting</div></div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-5 text-muted">
                    <div class="justifiedTxt footer_text">
                        <a class="twitter-timeline" data-lang="en" data-tweet-limit=1 data-chrome="noheader nofooter noborders noscrollbar transparent" data-width="500" data-theme="dark" href="https://twitter.com/MaisaSolutions">Tweets by MaisaSolutions</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>


                <div class="col-sm-4 text-muted">
                    <div class="justifiedTxt footer_text">
                        <p class="contact_address"> <b>WORLDWIDE BRANCHES</b></p>


                        <div class="footer_address">
                            <div class="footer_add1">
                                555 California Street <br>
                                Suite 4925 <br>
                                San Francisco, California <br>
                                USA 94104 <br>
                                Tel:<a class="text-muted" href="tel:+17077098961">+17077098961</a>
                            </div>

                            <div class="footer_add2">
                                Flat 201, Mythri Bldg<br/>
                                ECIL X Roads<br/>
                                Hyderabad, Telangana<br/>
                                India - 500062<br/>
                                Tel:<a class="text-muted" href="tel:+914040177227">+914040177227</a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target=" "><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright footer_text">&copy;2016 Maisa&#8482; Solutions.  All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</section>
