<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table style="width: 280px;margin: 0 auto;">
                    <tr>
                        <td style="align:right">
                            <table>
                            <tr>
                                <td><div class="iso_cert"> <a class="fancybox" href="img/iso_cert.jpg"><img src="img/1_isotxt.png" height="30" width="50" title="ISO Certified Company 9001:2008" alt="ISO Certified Company"></a> </div></td>
                                <td><div id="facetweet">
                                    <div id="facebook">
                                        <div class="fb-like" data-href="https://www.facebook.com/MaisaSolutions" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                    </div>
                                    <div id="tweet"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.maisasolutions.com" data-text="WE DON'T JUST BUILD PRODUCTS, WE BUILD BUSINESSES" data-via="maisasolutions">Tweet</a> </div>
                                </div></td>
                            </tr>
                        </table></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <span class="copyright">&copy;2015 Maisa&#0153; Solutions  All rights reserved.</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}" target=" "><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>