<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="msvalidate.01" content="F85A57D9955372C1B336AE5022CFA3A2" />
    <meta name="author" content="maisasolutions.com"/>
    <meta name="robots" content="index, follow"/>
    <meta name="revisit-after" content="7 days">
    <meta name="language" content="english" />
    <link rel="publisher" href="https://plus.google.com/+Maisasolutions">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Cache-control" content="max-age=31536000" >
    <meta name=viewport content="width=device-width, initial-scale=1">

    <script type="application/ld+json">
    { "@context" : "http://schema.org", "@type" : "SoftwareApplication", "name" : "Maisa Solutions is your ideal IT partner offering various Information Technology Services and Products. We are creators, designers, engineers, educators and problem solvers. Our highly skilled & motivated team offers one-of-a-kind global IT services. Let us help you create next big thing...", "image" : "http://www.maisasolutions.com/img/maisa_icon.jpg", "url" : "http://www.maisasolutions.com/index.html", "author"
    : { "@type" : "Person", "name" : "Maisa" } }
  </script>
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="{{ site.baseurl }}/img/fav.ico" type="image/x-icon" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/fonts/font-montserrat.css" | prepend: site.baseurl }}">

    <script  async src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
</head>
