<!-- Header -->
<header>



    <div class="container">
        <div class="intro-text">
            <div class="col-md-6" style="padding: 0px">
                <div class="youtube_img">
                    <a class="fancybox-media" href="http://www.youtube.com/embed/v5GpjKcUrF8"><img src="img/maisa_v2.jpg" width="480" alt="Youtube">
                    </a>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0px">
                <div class="textbox">
                    <h1 class="we_build">WE DON'T<br>
                        JUST BUILD PRODUCTS,<br>
                        WE BUILD BUSINESSES!</h1>
                    <p style="font-size: 18px;" class="padding_top">We build awesome things for the web & mobile. We’re creators, designers, engineers, educators and problem solvers. Let us build your awesome product...</p>
                    <div class="button margin_top btn-danger"> <a href="{{ site.baseurl }}/contact.html">Get In Touch</a> </div>
                    <div class="dev_maisa"> <img src="{{ site.baseurl }}/img/apple_dev1.png" width="100" alt="Mobile"> </div>
                </div>
            </div>
            <div class="we_off">
                <h3>We offer solutions. We offer excellence. We offer commitment.</h3>
            </div>
        </div>
    </div>





    <!-- <h3 class="we_off">We offer solutions. We offer excellence. We offer commitment.</h3> -->
    <!-- <div style="padding-top:50px"></div> -->
</header>

<div class="container">
    <div class="logo_scrol">
        <h4 class="we_have_partnered">We've partnered with</h4>
        <div id="hide_until_page_load" class="hide_div" style="background-color:#C52128; width:100%; height:150px; padding-top:25px; display:none;">
            <div style="background-color:#ffffff; margin:0 25px; height:100px">

                <div class="box-client-logos">
                    <ul id="scroller">
                        <li><img src="{{ site.baseurl }}/img/logos/logo-acronis.png" ></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-adobe.png" ></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-amazon.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-cassandra.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-checkpoint.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-cisco.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-cloudera.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-elephant.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-google.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-hadoop.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-heroku.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-hphelion.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-ibm.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-intel.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-iso.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-kentico.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-microsoft.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-mongo.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-openstack.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-pivotal.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-salesforce.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-symantec.png"></li>
                        <li><img src="{{ site.baseurl }}/img/logos/logo-vmware.png"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrap padding_top justifiedTxt">
            <table>
                <tr>
                    <td>
                        <p><a class="aHoverEffect" href="#services">Mobile Application Development (iOS/Android)</a> | <a class="aHoverEffect" href="#services">HTML5</a> | <a class="aHoverEffect" href="#services">PHP</a> | <a class="aHoverEffect" href="#services">Ruby on Rails</a>            | <a class="aHoverEffect" href="#services">JavaScript Frameworks (Node.js, Backbone.js, etc)</a> | <a class="aHoverEffect" href="#services">NoSQL (Cassandra, Couchbase, MongoDB, etc) </a> | <a class="aHoverEffect" href="#services">Cloud Computing (AWS, Heroku, Engine Yard, etc)</a>            | <a class="aHoverEffect" href="#services">Java/J2EE Stack</a> | <a class="aHoverEffect" href="#services">Agile Methodologies</a> | <a class="aHoverEffect" href="#services">Test Driven Development</a> | <a class="aHoverEffect" href="#services">Content Management Systems </a>            | <a class="aHoverEffect" href="#services">24/7 Production Support. </a>
                        </p>
                    </td>
                </tr>
            </table>
            <p> <b>Maisa Solutions</b> is your ideal IT partner offering various Information Technology Services and Products. We are creators, designers, engineers, educators and problem solvers. Our highly skilled & motivated team offers one-of-a-kind global IT
                services. Let us help you create next big thing... </p>

            <div class="col-md-12 mobile_view_hi5" style="display:none;">
                <div class="col-md-3 text-center" style="margin-bottom:1em;">
                    <img src="{{ site.baseurl }}/img/core-values.png">
                </div>

                <div class="col-md-9">
                    <div class="box"><img src="{{ site.baseurl }}/img/tick.png" width="24" height="18"> Expertise in What We Do</div>
                    <div class="white"><div class="col-md-2"></div><img src="{{ site.baseurl }}/img/tick.png" width="24" height="18"> Trust &amp; Transparency</div>
                    <div class="box"><div class="col-md-4"></div><img src="{{ site.baseurl }}/img/tick.png" width="24" height="18"> 100% Commitment</div>
                    <div class="white"><div class="col-md-6"></div><img src="{{ site.baseurl }}/img/tick.png" width="24" height="18"> Professionalism</div>
                    <div class="box"><div class="col-md-8"></div> <img src="{{ site.baseurl }}/img/tick.png" width="24" height="18"> Responsibility</div>

                </div>
            </div>

            <div class="web_view_hi5" style="display:none;">
            <img src="{{ site.baseurl }}/img/wq.png" class="hi_5_img img-responsive" alt="HI FIVE VALUES"> </div>
            </div>

    </div>
</div>


