<div class="main_box">
    <header>
        <div>
            <div class="container" style="background-color: #fff;">
                <div class="intro-text">
                    <div class="col-md-6" style="padding: 0px">
                        <div class="youtube_img">
                            <a class="fancybox-media" href="http://www.youtube.com/embed/v5GpjKcUrF8"><img src="img/maisa_v2.jpg" width="480" alt="Youtube">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0px">
                        <div class="textbox">
                            <h1 class="we_build">WE DON'T<br>
                                JUST BUILD PRODUCTS,<br>
                                WE BUILD BUSINESSES!</h1>
                            <p style="font-size: 18px;" class="padding_top">We build awesome things for the web & mobile. We’re creators, designers, engineers, educators and problem solvers. Let us build your awesome product...</p>
                            <div class="button margin_top btn-danger get_in_touch">Get In Touch</div>
                            <div class="dev_maisa"> <img src="{{ site.baseurl }}/img/apple_dev1.png" width="100" alt="Mobile"> </div>
                        </div>
                    </div>
                    <div class="we_off">
                        <h3>We offer solutions. We offer excellence. We offer commitment.</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h3 class="we_off">We offer solutions. We offer excellence. We offer commitment.</h3> -->
        <!-- <div style="padding-top:50px"></div> -->
    </header>