
    <div class="container" style="background: #CDE9FF">

        <div class="row text-center" >
            <div class="container_heading">
                <h3>OUR PACKAGED ENGINEERING SERVICES</h3>
                <br/>
            </div>

            <div class="col-md-4">
                <div class="service_box">
                    <div class="service_bootstrap">
                        <span>BOOTSTRAP</span>
                    </div>

                    <div class="clearfix"></div>
                    <div class="text-muted s_box_text">
                        <ul style="font-size:15px">
                            <li>Product marketing website setup</li>
                            <li>DNS, Email setup</li>
                            <li>BRD to UseCase docs, UML flow-charts</li>
                            <li>Product UI/UX designs w.t. unlimited revisions</li>
                            <li>Mobile/Web Apps development</li>
                            <li>API/Webservices development</li>
                            <li>Email campaign setup</li>
                            <li>Analytics Integration (Google Analytics, Kissmetrics, etc.)</li>
                            <li>User BLUEPRINT&reg; setup</li>
                            <li>Store submissions (iOS, Android)</li>
                        </ul>
                    </div>
                    <div class="s_box_choose clickable" data-toggle="modal" data-target="#BootstrapPackage">CHOOSE</div>
                </div>
            </div>
            <div class="visible-xs visible-sm">&nbsp</div>

            <div class="col-md-4">
                <div class="service_box">
                    <div class="service_pmf">
                        <span>PRODUCT-MARKET FIT(PMF)</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-muted s_box_text">
                        <ul style="font-size:15px">
                            <li>User contextual, behavioural Email and/or Notification campaigns</li>
                            <li>User BLUEPRINT&reg; analysis & work-flow injestion</li>
                            <li>Store optimizations(ASO, keyword performance reports)</li>
                            <li>SEO for both Mobile/Web apps</li>
                            <li>A/B testing integration</li>
                            <li>Rapid Product iterations for PMF</li>
                            <li>Growth Hacking channels identification + KPI measurements</li>
                            <li>Reports (K-factor, DAU/MAU, Store impressions, etc)</li>
                            <li>Automation (development, quality & deployment)</li>
                        </ul>
                    </div>
                    <div class="s_box_choose clickable" data-toggle="modal" data-target="#PmfPackage">CHOOSE</div>
                </div>
            </div>
            <div class="visible-xs visible-sm">&nbsp</div>

            <div class="col-md-4">
                <div class="service_box">
                    <div class="service_growth">
                        <span>GROWTH</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-muted s_box_text">
                        <ul style="font-size:15px">
                            <li>Product-scalability analysis & action</li>
                            <li>Security penetration testing & mitigation (incl. zero day vulnerabilities)</li>
                            <li>Infrastructure overhaul w.t. auto-scaling enabled</li>
                            <li>Ongoing performance monitoring (Mobile/Web apps, Database)</li>
                            <li>ZERO-bug SLAs</li>
                            <li>24-7-365 Production Support</li>
                            <li>Scheduled backups (database, reports, etc.)</li>
                            <li>Growth Hacking channel multiplication & life-cycle measurement</li>
                        </ul>
                    </div>
                    <div class="s_box_choose clickable" data-toggle="modal" data-target="#GrowthPackage">CHOOSE</div>
                </div>
            </div>
        </div>
        <div class="specific_text">
            <span class="get_in_touch">GET IN TOUCH</span> if you have a specific need.
        </div>


        <!-- Bootstrap package form-->
        <div class="modal fade" id="BootstrapPackage" style="margin-top:70px;" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title popup_form_heading">BOOTSTRAP PACKAGE</h4>
                        <p class="popup_form_subtitle">We honor you for your entrepreneruial spirit. Throughout this engagement, we aim for an ultimate success of your product. We see our success in your PRODUCT. Together, we hope to make the difference!</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="http://formspree.io/contact@maisasolutions.com" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Name*" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Your Contact Details*" name="contact_details" required data-validation-required-message="Please enter your contact details."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Role" id="role" name="role">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Company Name" name="company_name">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="How did you hear about us?" name="hear_about_us">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Tell us about your product and services you are looking from us...*" name="product_details" required data-validation-required-message="Please tell us about your product and services"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>Approximately, when do you want to start?</div>
                                                <div class="select-style">
                                                    <select name="time">
                                                        <option value="" disabled selected>Choose</option>
                                                        <option value="<2_weeks">in <2 weeks</option>
                                                        <option value=">4_weeks">in >4 weeks</option>
                                                        <option value="no_idea">no idea</option>
                                                    </select>
                                                </div>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-md">SUBMIT</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_subject" value="Maisa: BOOTSTRAP PACKAGE submited on website" />
                                    <input type="hidden" name="_next" value="/" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- PMF package form -->
        <div class="modal fade" id="PmfPackage" style="margin-top:70px;" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title popup_form_heading">PRODUCT-MARKET-FIT PACKAGE</h4>
                        <p class="popup_form_subtitle">Our agility & lean practices helped several entrepreneurs secure a perfect PMF spot in short timespan. We look forward to share some of the best practices we have learned over the years including traps along the way.</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="http://formspree.io/contact@maisasolutions.com" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Name*" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Your Contact Details*" name="contact_details" required data-validation-required-message="Please enter your contact details."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Role" id="role" name="role">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Company Name" name="company_name">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="How did you hear about us?" name="hear_about_us">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Tell us about your current product, team and services you are looking from us...*" name="product_details" required data-validation-required-message="Please tell us about your current product, team and services"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div>Please share any links to your product:</div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Website link..." name="website">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Apple App store link..." name="app_store_link">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Google Playstore link..." name="google_store_link">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div>At this stage, time is precious. How early do you want us to engage?</div>
                                                <div class="select-style">
                                                    <select name="time">
                                                        <option value="" disabled selected>Choose</option>
                                                        <option value="<2_weeks">in <2 weeks</option>
                                                        <option value=">4_weeks">in >4 weeks</option>
                                                        <option value="no_idea">no idea</option>
                                                    </select>
                                                </div>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-md">SUBMIT</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_subject" value="Maisa: PMF PACKAGE submited on website" />
                                    <input type="hidden" name="_next" value="/" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Growth package form -->
        <div class="modal fade" id="GrowthPackage" style="margin-top:70px;" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title popup_form_heading">GROWTH PACKAGE</h4>
                        <p class="popup_form_subtitle">Congratulations! We hope your Product-meets-Market demand successfully!!! Growth is good for everyone. Let us help you in scaling your product, team and multiply your success for wider reach...</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="http://formspree.io/contact@maisasolutions.com" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Name*" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Your Contact Details*" name="contact_details" required data-validation-required-message="Please enter your contact details."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Role" id="role" name="role">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Company Name" name="company_name">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="How did you hear about us?" name="hear_about_us">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Tell us about your current product, market, team and services you are looking from us...*" name="product_details" required data-validation-required-message="Please tell us about your current product, team and services"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>How old is your product?</div>
                                                <div class="select-style">
                                                    <select name="how_old_is_your_product">
                                                        <option value="" disabled selected>Choose</option>
                                                        <option value="<6months">< 6months</option>
                                                        <option value="<1year">< 1year</option>
                                                        <option value="multiple_years">multiple years</option>
                                                    </select>
                                                </div>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div>Please share us Web links to your product:</div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Website link..." name="website">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Apple App store link..." name="app_store_link">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Google Playstore link..." name="google_store_link">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group text-box">
                                                <textarea class="form-control" placeholder="Any other details you want us to know in advance? things like multi-language support, current technology stack, areas of expertise, etc.*" name="other_details" required data-validation-required-message="Please tell us about any other details"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>How early do you want us to start?</div>
                                                <div class="select-style">
                                                    <select name="time">
                                                        <option value="" disabled selected>Choose</option>
                                                        <option value="<2_weeks">in <2 weeks</option>
                                                        <option value=">4_weeks">in >4 weeks</option>
                                                        <option value="no_idea">no idea</option>
                                                    </select>
                                                </div>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-md">SUBMIT</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_subject" value="Maisa: GROWTH PACKAGE submited on website" />
                                    <input type="hidden" name="_next" value="/" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
