<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include maininfo.html %}
    {% include services.html %}
    
    <div class="background_stripes">{% include process.html %}</div>
    {% include portfolio.html %}
    
    <div class="background_stripes">{% include pride.html %}</div>
    {% include clients.html %}
    {% include contact.html %}
    
    {% include footer.html %}
    {% include modals.html %}
    {% include css.html %}
    {% include js.html %}


    </body>
</html>